extends layout

block layout-content
  style
    include ../public/Card.css
  div.View.WelcomeView
    p Current Environment 
    p Time: #{time}
    -
    var obj = {"temp":31, "moist":41}

    table
      tr
        td 
          span.Card
            h4 Temperature
            div.CardContainer
              img.CardLogo(src="/images/cards/thermometer.png")
              p.CardValue #{sensorData.temperature} &#176; C
        td 
          span.Card
            h4 Humidity
            div.CardContainer
              img.CardLogo(src="/images/cards/humidity.png")
              p.CardValue #{sensorData.humidity} %
        td 
          span.Card
            h4 Humidity
            div.CardContainer
              img.CardLogo(src="/images/cards/soil.png")
              p.CardValue #{obj.moist} %

    //- div.NavButtons
    //-   a(href="/temperature")
    //-       div.NavButton Just dive in!
