block variables
doctype html
html
  head
    meta(charset="utf-8")
    link(rel="icon", type="image/png", href="/images/laurel.png")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color", content="#000000")
    title #{title} | Ceasar
    link(rel="stylesheet" href="/style.css")
  body
    div#root
      div.Banner
        h3.CompanyTitle Welcome to CEASAR 
        br
        h4 Controlled Environment Agriculture System with Automated Recording 
      div.Container
        block layout-content
